.interactive-keybinding.photoshop {
  $light-blue: rgb(64,208,251);
  $dark-blue: rgb(24,21,46);
  
  position: fixed;
  width: 100%;
  height: 100%;  
  background-color: blue;
  background-image: radial-gradient(
    ellipse,
    $light-blue 0%,
    $dark-blue 85%
  );
  color: white;
  .post-header {
    position: absolute;
    width: 100%;
    top: 15vh;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.5;
  }
}