.interactive-keybinding.photoshop {
  $light-blue: rgb(57, 216, 253);
  $dark-blue: rgb(51, 121, 154);
  background-color: $light-blue;
  background-image: radial-gradient( ellipse, $light-blue 0%, $dark-blue 85%);
  #keyboard {
    #function-keys {
    }
    #numeric-keys {
    }
    #qwerty-keys {
    }
    #asdf-keys {
    }
    #zxcv-keys {
    }
    #space-keys {
    }
  }
}